.ArticleSummaryButton_mck-c-article-summary-button__compact-wrap__qnfjI{position:relative;display:inline-flex;justify-content:center}

.ArticleSummaryButton_mck-c-article-summary-button__compact-wrap__qnfjI button{font-size:var(--mdc-size-font-12);line-height:var(--mdc-size-line-height-16);display:flex;flex-direction:column;align-items:center;gap:0;color:var(--mdc-color-neutral-gray-70)}

.ArticleSummaryButton_mck-c-article-summary-button__new-badge__AcHWC{font-size:var(--mdc-size-font-10);line-height:var(--mdc-size-line-height-16);position:absolute;top:-0.75rem;padding:var(--mdc-size-spacing-4);border-radius:var(--mdc-size-spacing-4);background-color:var(--mdc-color-palette-electric-blue);color:var(--mdc-color-neutral-white);line-height:1;pointer-events:none;z-index:var(--mdc-zindex-1)}

[dir="ltr"] .ArticleSummaryButton_mck-c-article-summary-button__new-badge__AcHWC{right:-0.5rem}

[dir="rtl"] .ArticleSummaryButton_mck-c-article-summary-button__new-badge__AcHWC{left:-0.5rem}
.ShareToolBar_mck-c-share-tool-bar__link-container__3PUg2{flex-wrap:nowrap !important}
.CenturyNavBar_mck-c-century-nav-bar__Oq6HL{position:-webkit-sticky;position:sticky;top:0;width:100%;transition:box-shadow .3s ease;z-index:var(--mdc-zindex-10)}

.CenturyNavBar_mck-c-century-nav-bar--theme-electric-blue__0ofQQ .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w,.CenturyNavBar_mck-c-century-nav-bar--theme-deep-blue__4suZd .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w,.CenturyNavBar_mck-c-century-nav-bar--theme-deep-gradient__7D_sl .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w,.CenturyNavBar_mck-c-century-nav-bar--theme-medium-gradient__bvCmm .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w,.CenturyNavBar_mck-c-century-nav-bar--theme-qb-dark-blue__UIYv5 .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w{color:var(--mdc-color-neutral-white);z-index:var(--mdc-zindex-1)}

.CenturyNavBar_mck-c-century-nav-bar--theme-electric-blue__0ofQQ .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo,.CenturyNavBar_mck-c-century-nav-bar--theme-deep-blue__4suZd .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo,.CenturyNavBar_mck-c-century-nav-bar--theme-deep-gradient__7D_sl .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo,.CenturyNavBar_mck-c-century-nav-bar--theme-medium-gradient__bvCmm .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo,.CenturyNavBar_mck-c-century-nav-bar--theme-qb-dark-blue__UIYv5 .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo{background-color:hsla(0,0%,100%,.25)}

.CenturyNavBar_mck-c-century-nav-bar--theme-electric-blue__0ofQQ .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ,.CenturyNavBar_mck-c-century-nav-bar--theme-deep-blue__4suZd .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ,.CenturyNavBar_mck-c-century-nav-bar--theme-deep-gradient__7D_sl .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ,.CenturyNavBar_mck-c-century-nav-bar--theme-medium-gradient__bvCmm .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ,.CenturyNavBar_mck-c-century-nav-bar--theme-qb-dark-blue__UIYv5 .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ{background-color:var(--mdc-color-neutral-white)}

.CenturyNavBar_mck-c-century-nav-bar--theme-white__5Mj5D .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w,.CenturyNavBar_mck-c-century-nav-bar--theme-lightest-grey__w4BHU .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w{color:var(--mdc-color-neutral-black);z-index:var(--mdc-zindex-1)}

.CenturyNavBar_mck-c-century-nav-bar--theme-white__5Mj5D .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo,.CenturyNavBar_mck-c-century-nav-bar--theme-lightest-grey__w4BHU .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo{background-color:var(--mdc-color-electric-blue-100)}

.CenturyNavBar_mck-c-century-nav-bar--theme-white__5Mj5D .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ,.CenturyNavBar_mck-c-century-nav-bar--theme-lightest-grey__w4BHU .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ{background-color:var(--mdc-color-palette-electric-blue)}

.CenturyNavBar_mck-c-century-nav-bar--theme-light-gradient__GNKvw .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w,.CenturyNavBar_mck-c-century-nav-bar--theme-electric-blue-100__Dc5kF .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w,.CenturyNavBar_mck-c-century-nav-bar--theme-cyan-100__kUj1b .CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w{color:var(--mdc-color-neutral-black);z-index:var(--mdc-zindex-1)}

.CenturyNavBar_mck-c-century-nav-bar--theme-light-gradient__GNKvw .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo,.CenturyNavBar_mck-c-century-nav-bar--theme-electric-blue-100__Dc5kF .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo,.CenturyNavBar_mck-c-century-nav-bar--theme-cyan-100__kUj1b .CenturyNavBar_mck-c-century-nav-bar__tab--active__9owFo{background-color:hsla(0,0%,100%,.75)}

.CenturyNavBar_mck-c-century-nav-bar--theme-light-gradient__GNKvw .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ,.CenturyNavBar_mck-c-century-nav-bar--theme-electric-blue-100__Dc5kF .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ,.CenturyNavBar_mck-c-century-nav-bar--theme-cyan-100__kUj1b .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ{background-color:var(--mdc-color-palette-electric-blue)}

.CenturyNavBar_mck-c-century-nav-bar--sticky__Mk6Zk{box-shadow:var(--mdc-elevation-4)}

.CenturyNavBar_mck-c-century-nav-bar__content__WpP6C{padding:.75rem var(--mdc-size-spacing-24);align-items:center;position:relative}

.CenturyNavBar_mck-c-century-nav-bar__title__OQRaF{font-size:var(--mdc-size-font-18);line-height:var(--mdc-size-line-height-28);font-weight:var(--mdc-font-weight-medium)}

.CenturyNavBar_mck-c-century-nav-bar__tabs-container__PA0Fi{display:flex;justify-content:center;flex-wrap:nowrap;overflow-x:hidden;width:100%;min-width:0;gap:.75rem}

.CenturyNavBar_mck-c-century-nav-bar__tab__gEH_w{padding:var(--mdc-size-spacing-8) var(--mdc-size-spacing-16);border-radius:var(--mdc-size-border-radius-8);cursor:pointer;transition:background-color .2s ease;white-space:nowrap;font-weight:var(--mdc-font-weight-regular);font-size:var(--mdc-size-font-18);line-height:var(--mdc-size-line-height-28)}

.CenturyNavBar_mck-c-century-nav-bar__share-column__hqNu4{display:flex;justify-content:flex-end;align-items:center}

@media(max-width: 767px){
.CenturyNavBar_mck-c-century-nav-bar__share-column__hqNu4{padding-top:var(--mdc-size-spacing-8)}}

.CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ{height:var(--mdc-size-spacing-4);position:absolute;bottom:0;transition:width .3s ease}

[dir="ltr"] .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ{left:0}

[dir="rtl"] .CenturyNavBar_mck-c-century-nav-bar__progress-bar__ItDkZ{right:0}
.MobileLauncher_mck-c-century-nav-bar__mobile-launcher-button__LijdA{font-size:var(--mdc-size-font-10) !important;line-height:var(--mdc-size-line-height-20) !important;display:flex !important;flex-direction:column !important;gap:0 !important;border-radius:var(--mdc-size-spacing-8) !important;background-color:var(--mdc-color-palette-electric-blue) !important;padding:var(--mdc-size-spacing-8) !important}

.MobileLauncher_mck-c-century-nav-bar__mobile-close-button__FjREZ{padding:.625rem var(--mdc-size-spacing-8) !important;z-index:var(--mdc-zindex-20) !important;position:relative !important}

.MobileLauncher_mck-c-century-nav-bar__mobile-close-button__FjREZ:hover span::before{color:var(--mdc-color-neutral-black);background-color:var(--mdc-color-neutral-hover-gray)}

.MobileLauncher_mck-c-century-nav-bar__mobile-menu-header__Xu4vy{padding:var(--mdc-size-spacing-8) .75rem}

.MobileLauncher_mck-c-century-nav-bar__mobile-menu__4SGNf{position:absolute;top:100%;z-index:var(--mdc-zindex-20);display:flex;flex-direction:column;gap:.125rem;overflow-y:auto;margin-top:var(--mdc-size-spacing-2);width:50dvw;box-shadow:var(--mdc-size-box-shadow-large);animation:MobileLauncher_slide-in-left__GkvBG .3s ease-in-out}

[dir="ltr"] .MobileLauncher_mck-c-century-nav-bar__mobile-menu__4SGNf{left:0}

[dir="rtl"] .MobileLauncher_mck-c-century-nav-bar__mobile-menu__4SGNf{right:0}

@media(max-width: 767px){
.MobileLauncher_mck-c-century-nav-bar__mobile-menu__4SGNf{width:90dvw}}

.MobileLauncher_mck-c-century-nav-bar__mobile-menu-item-container__a_nEe{cursor:pointer;width:calc(50dvw - .5rem);background:var(--mdc-color-electric-blue-800);box-shadow:var(--mdc-elevation-2);height:var(--mdc-size-spacing-64);position:relative;display:flex}

@media(max-width: 767px){
.MobileLauncher_mck-c-century-nav-bar__mobile-menu-item-container__a_nEe{width:calc(90dvw - .5rem)}}

.MobileLauncher_mck-c-century-nav-bar__mobile-menu-item-container--active__Huf0w{background:var(--mdc-color-electric-blue-500);width:50dvw}

@media(max-width: 767px){
.MobileLauncher_mck-c-century-nav-bar__mobile-menu-item-container--active__Huf0w{width:90dvw}}

.MobileLauncher_mck-c-century-nav-bar__mobile-menu-item__BLR_s{font-size:var(--mdc-size-font-16);line-height:var(--mdc-size-line-height-24);display:flex;align-items:center;width:calc(50dvw - 1.5rem);padding:0 var(--mdc-size-spacing-16);color:var(--mdc-color-electric-blue-800);background:var(--mdc-color-neutral-white);overflow:hidden;text-overflow:ellipsis}

@media(max-width: 767px){
.MobileLauncher_mck-c-century-nav-bar__mobile-menu-item__BLR_s{width:calc(90dvw - 1.5rem)}}

.MobileLauncher_mck-c-century-nav-bar__mobile-menu-item--active__kvKtR{color:var(--mdc-color-electric-blue-500);font-weight:var(--mdc-font-weight-medium)}

.MobileLauncher_mck-c-century-nav-bar__mobile-overlay__xaODB{position:fixed;top:0;width:100dvw;height:100dvh;background-color:rgba(0,0,0,.4);z-index:var(--mdc-zindex-10);transition:background-color .3s ease-in-out}

[dir="ltr"] .MobileLauncher_mck-c-century-nav-bar__mobile-overlay__xaODB{left:0}

[dir="rtl"] .MobileLauncher_mck-c-century-nav-bar__mobile-overlay__xaODB{right:0}

@keyframes MobileLauncher_slide-in-left__GkvBG{
from{transform:translateX(-100%)}

to{transform:translateX(0)}}
.TocMobileLauncher_mck-c-toc-launcher__pPugf{position:fixed;top:0;z-index:var(--mdc-zindex-20);transition:top .3s .7s}

[dir="ltr"] .TocMobileLauncher_mck-c-toc-launcher__pPugf{left:0}

[dir="rtl"] .TocMobileLauncher_mck-c-toc-launcher__pPugf{right:0}

.TocMobileLauncher_mck-c-toc-launcher__pPugf a:focus span::before{background-color:var(--mdc-color-neutral-white)}

.TocMobileLauncher_mck-c-toc-launcher--collapsed__foCTe a:focus{color:var(--mdc-color-neutral-white)}

.TocMobileLauncher_mck-c-toc-launcher--collapsed__foCTe a:focus span::before{background-color:var(--mdc-color-electric-blue-500)}

.TocMobileLauncher_mck-c-toc-launcher--hidden__UoxD_{top:-4rem;transition:none}

.TocMobileLauncher_mck-c-toc-launcher__menu-container__NYskN{display:flex;align-items:center;justify-content:center;background-color:rgba(0,0,0,0);height:var(--mdc-size-spacing-48);padding:var(--mdc-size-spacing-8);border-radius:var(--mdc-size-border-radius-8);margin:var(--mdc-size-spacing-8)}

.TocMobileLauncher_mck-c-toc-launcher__menu-container--collapsed___zGxt{background-color:var(--mdc-color-electric-blue-500)}

.TocMobileLauncher_mck-c-toc-launcher__overlay__AtIaI{position:fixed;top:0;z-index:var(--mdc-zindex-20);width:100vw;height:100vh;background-color:rgba(0,0,0,.45);transition:background-color .3s ease-in-out}

[dir="ltr"] .TocMobileLauncher_mck-c-toc-launcher__overlay__AtIaI{left:0}

[dir="rtl"] .TocMobileLauncher_mck-c-toc-launcher__overlay__AtIaI{right:0}

.TocMobileLauncher_mck-c-toc-launcher__overlay--invisible__GCGWJ{background-color:rgba(0,0,0,0);pointer-events:none}

.TocMobileLauncher_mck-c-toc-launcher__sticky-banner__07V8E{position:fixed;top:0;z-index:var(--mdc-zindex-20);width:100vw;height:4rem;background-color:var(--mdc-color-neutral-white);border-bottom:var(--mdc-size-border-width-1) solid var(--mdc-color-neutral-gray-18);transition:top .3s .7s}

[dir="ltr"] .TocMobileLauncher_mck-c-toc-launcher__sticky-banner__07V8E{left:0}

[dir="rtl"] .TocMobileLauncher_mck-c-toc-launcher__sticky-banner__07V8E{right:0}

.TocMobileLauncher_mck-c-toc-launcher__sticky-banner--hidden__5ljOA{top:-4rem;transition:none}
.TocMenu_mck-c-toc-menu__Du57H{position:fixed;top:4.125rem;transform:translateY(0);z-index:var(--mdc-zindex-20);transition:all .3s ease-in-out;width:90vw}

[dir="ltr"] .TocMenu_mck-c-toc-menu__Du57H{left:0}

[dir="rtl"] .TocMenu_mck-c-toc-menu__Du57H{right:0}

@media(min-width: 768px){
.TocMenu_mck-c-toc-menu__Du57H{top:50%;transform:translateY(-50%);width:11.5rem}}

@media(min-width: 768px){
.TocMenu_mck-c-toc-menu--with-sticky-share__S_Mvc{top:calc(50% + var(--mdc-size-spacing-64));transform:translateY(calc((50% + var(--mdc-size-spacing-32)) * -1))}}

[dir="ltr"] .TocMenu_mck-c-toc-menu--collapsed__TcFip{left:-90vw}

[dir="rtl"] .TocMenu_mck-c-toc-menu--collapsed__TcFip{right:-90vw}

@media(min-width: 768px){
[dir="ltr"] .TocMenu_mck-c-toc-menu--collapsed__TcFip{left:-10rem}

[dir="rtl"] .TocMenu_mck-c-toc-menu--collapsed__TcFip{right:-10rem}}

.TocMenu_mck-c-toc-menu--collapsed__TcFip .TocMenu_mck-c-toc-menu__right-arrow__5PY9l{color:var(--mdc-color-neutral-white)}

.TocMenu_mck-c-toc-menu--collapsed__TcFip .TocMenu_mck-c-toc-menu__tab__oT2C_:hover{box-sizing:border-box;border:var(--mdc-size-border-width-1) solid var(--mdc-color-electric-blue-500)}

@media(min-width: 768px){
.TocMenu_mck-c-toc-menu--collapsed__TcFip .TocMenu_mck-c-toc-menu__tab__oT2C_:hover{background:var(--mdc-color-neutral-white)}}

.TocMenu_mck-c-toc-menu--collapsed__TcFip .TocMenu_mck-c-toc-menu__tab__oT2C_:hover .TocMenu_mck-c-toc-menu__right-arrow__5PY9l{color:var(--mdc-color-electric-blue-500)}

[dir="ltr"] .TocMenu_mck-c-toc-menu--hidden__XdtrE{left:-90vw}

[dir="rtl"] .TocMenu_mck-c-toc-menu--hidden__XdtrE{right:-90vw}

@media(min-width: 768px){
[dir="ltr"] .TocMenu_mck-c-toc-menu--hidden__XdtrE{left:-12rem}

[dir="rtl"] .TocMenu_mck-c-toc-menu--hidden__XdtrE{right:-12rem}}

.TocMenu_mck-c-toc-menu__collapse-button__lnS2T,.TocMenu_mck-c-toc-menu__right-arrow__5PY9l{position:absolute}

[dir="ltr"] .TocMenu_mck-c-toc-menu__collapse-button__lnS2T,[dir="ltr"] .TocMenu_mck-c-toc-menu__right-arrow__5PY9l{right:calc(var(--mdc-size-spacing-4)/2)}

[dir="rtl"] .TocMenu_mck-c-toc-menu__collapse-button__lnS2T,[dir="rtl"] .TocMenu_mck-c-toc-menu__right-arrow__5PY9l{left:calc(var(--mdc-size-spacing-4)/2)}

.TocMenu_mck-c-toc-menu__collapse-button__lnS2T{cursor:pointer;top:calc(var(--mdc-size-spacing-32)*-1)}

.TocMenu_mck-c-toc-menu__collapse-button__lnS2T span::before{color:var(--mdc-color-neutral-black);background-color:var(--mdc-color-neutral-white)}

.TocMenu_mck-c-toc-menu__collapse-button__lnS2T:hover span::before{color:var(--mdc-color-neutral-black);background-color:var(--mdc-color-neutral-hover-gray)}

@media(min-width: 768px)and (max-width: 1179px){
.TocMenu_mck-c-toc-menu__collapse-button__lnS2T span::before{color:var(--mdc-color-neutral-white);background-color:var(--mdc-color-palette-electric-blue)}

.TocMenu_mck-c-toc-menu__collapse-button__lnS2T:hover span::before{color:var(--mdc-color-palette-electric-blue);background-color:var(--mdc-color-neutral-white)}}

.TocMenu_mck-c-toc-menu__collapse-button--is-mobile__GWUCd{position:fixed;top:0;width:var(--mdc-size-spacing-48);height:var(--mdc-size-spacing-48)}

[dir="ltr"] .TocMenu_mck-c-toc-menu__collapse-button--is-mobile__GWUCd{left:0;margin:var(--mdc-size-spacing-8) var(--mdc-size-spacing-8) var(--mdc-size-spacing-8) var(--mdc-size-spacing-16)}

[dir="rtl"] .TocMenu_mck-c-toc-menu__collapse-button--is-mobile__GWUCd{right:0;margin:var(--mdc-size-spacing-8) var(--mdc-size-spacing-16) var(--mdc-size-spacing-8) var(--mdc-size-spacing-8)}

.TocMenu_mck-c-toc-menu__collapse-button--is-mobile__GWUCd span:hover::before{background-color:var(--mdc-color-neutral-white) !important}

.TocMenu_mck-c-toc-menu__right-arrow__5PY9l{color:var(--mdc-color-neutral-white);top:calc(50% - var(--mdc-size-spacing-16))}

.TocMenu_mck-c-toc-menu__tab__oT2C_{position:relative;display:flex;width:calc(90vw - .5rem);height:var(--mdc-size-spacing-64);box-sizing:content-box;background:var(--mdc-color-electric-blue-800);transition:width .4s;box-shadow:var(--mdc-elevation-2);margin-bottom:calc(var(--mdc-size-spacing-4)/2)}

.TocMenu_mck-c-toc-menu__tab__oT2C_ a{color:var(--mdc-color-electric-blue-800)}

.TocMenu_mck-c-toc-menu__tab--disabled__xaXrM{pointer-events:none;cursor:default}

.TocMenu_mck-c-toc-menu__tab--active__UOJjH{cursor:pointer;width:90vw;background:var(--mdc-color-electric-blue-500)}

.TocMenu_mck-c-toc-menu__tab--active__UOJjH a{color:var(--mdc-color-electric-blue-500);font-weight:var(--mdc-font-weight-medium)}

@media(min-width: 768px){
.TocMenu_mck-c-toc-menu__tab__oT2C_{height:var(--mdc-size-spacing-72);width:11rem}

.TocMenu_mck-c-toc-menu__tab__oT2C_:hover{cursor:pointer;background:var(--mdc-color-electric-blue-500)}

.TocMenu_mck-c-toc-menu__tab--minimal__EjIjl{height:var(--mdc-size-spacing-48)}

.TocMenu_mck-c-toc-menu__tab--minimal__EjIjl .TocMenu_mck-c-toc-menu__title___JS5b{display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}

.TocMenu_mck-c-toc-menu__tab--active__UOJjH,.TocMenu_mck-c-toc-menu__tab__oT2C_:hover{width:11.5rem;color:var(--mdc-color-electric-blue-500);font-weight:var(--mdc-font-weight-medium)}}

@media(min-width: 1180px){
.TocMenu_mck-c-toc-menu__tab__oT2C_ a,.TocMenu_mck-c-toc-menu__tab__oT2C_:hover{font-weight:var(--mdc-font-weight-regular)}

.TocMenu_mck-c-toc-menu__tab__oT2C_ a:hover{color:var(--mdc-color-electric-blue-500)}}

.TocMenu_mck-c-toc-menu__link-item__5HPhL{display:flex;align-items:center;width:calc(90vw - 1.5rem);padding:0 var(--mdc-size-spacing-16);background:var(--mdc-color-neutral-white);cursor:pointer}

@media(min-width: 768px){
.TocMenu_mck-c-toc-menu__link-item__5HPhL{width:10rem}}

.TocMenu_mck-c-toc-menu__title___JS5b{font-size:var(--mdc-size-font-16);line-height:var(--mdc-size-line-height-24);display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}

@media(min-width: 768px){
.TocMenu_mck-c-toc-menu__title___JS5b{font-size:var(--mdc-size-font-14);line-height:var(--mdc-size-line-height-20);display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}}
.ShareToolsWithSummarize_mck-c-share-tools-with-summarize__tools-container__1tn0O{display:flex;align-items:center;gap:var(--mdc-size-spacing-16);justify-content:flex-start}

@media(min-width: 768px){
.ShareToolsWithSummarize_mck-c-share-tools-with-summarize__tools-container--space-between__84k0v{justify-content:space-between}}

@media(min-width: 768px){
.ShareToolsWithSummarize_mck-c-share-tools-with-summarize__tools-container--justify-end___ixAo{justify-content:flex-end}}

.ShareToolsWithSummarize_mck-c-share-tools-with-summarize__share-tools__WEFKX{display:flex;flex-shrink:0;min-width:0}

.ShareToolsWithSummarize_mck-c-share-tools-with-summarize__summarise-button__ifB7V{display:flex;flex-shrink:0}

.ShareToolsWithSummarize_mck-c-share-tools-with-summarize__summarise-button__ifB7V button{z-index:var(--mdc-zindex-0)}

@media print{
.ShareToolsWithSummarize_mck-c-share-tools-with-summarize__summarise-button__ifB7V{display:none !important}}
.StickyShare_mck-c-StickyShare__lI5kP{position:fixed;top:-100px;opacity:0;width:100vw;background:var(--mdc-color-neutral-white);height:var(--mdc-size-spacing-64);z-index:4;transition:all .5s;border-bottom:var(--mdc-size-border-width-1) solid var(--mdc-color-neutral-gray-18)}

[dir="ltr"] .StickyShare_mck-c-StickyShare__lI5kP{left:0}

[dir="rtl"] .StickyShare_mck-c-StickyShare__lI5kP{right:0}

.StickyShare_mck-c-StickyShare--active__zYxOC{top:0;opacity:1;z-index:var(--mdc-zindex-20)}

.StickyShare_mck-c-StickyShare__share-title__px726{font-size:var(--mdc-size-font-18);line-height:var(--mdc-size-line-height-28);font-weight:var(--mdc-font-weight-regular);display:none}

@media(min-width: 480px){
.StickyShare_mck-c-StickyShare__share-title__px726{display:block}}

.StickyShare_mck-c-StickyShare__title-ellipsis__aVVnV{text-overflow:ellipsis;white-space:nowrap;overflow:hidden}

.StickyShare_mck-c-StickyShare__content-container___n9__{height:100%;align-items:center}

.StickyShare_mck-c-StickyShare__progressbar__Lp5o9{-webkit-appearance:none;appearance:none;width:100%;height:calc(var(--mdc-size-spacing-4)/2);border:none;background:rgba(0,0,0,0);vertical-align:top}

.StickyShare_mck-c-StickyShare__progressbar__Lp5o9::-webkit-progress-bar{background:rgba(0,0,0,0)}

.StickyShare_mck-c-StickyShare__progressbar__Lp5o9::-webkit-progress-value{background:var(--mdc-color-palette-electric-blue)}

.StickyShare_mck-c-StickyShare__tools-container__N11lT{justify-content:flex-end}
@media screen{
.MinimalHero_mck-c-minimal-hero__ht_6r{padding-top:var(--mdc-size-spacing-72);text-align:center}

.MinimalHero_mck-c-minimal-hero__minimal-hero-bespoke__OINFz{padding-top:0}

.MinimalHero_mck-c-minimal-hero__description__I6tZj{margin-top:var(--mdc-size-spacing-8)}

.MinimalHero_mck-c-minimal-hero__authors-and-share-tools__pK6WS{margin-top:var(--mdc-size-spacing-24)}

.MinimalHero_mck-c-minimal-hero__share-tools__wjBL_{display:flex;justify-content:center}

[dir="ltr"] .MinimalHero_mck-c-minimal-hero__summarise-button__2_wot{margin-left:var(--mdc-size-spacing-24)}

[dir="rtl"] .MinimalHero_mck-c-minimal-hero__summarise-button__2_wot{margin-right:var(--mdc-size-spacing-24)}}

@media print{
.MinimalHero_mck-c-minimal-hero__summarise-button__2_wot{display:none !important}}
.NoHero_mck-c-no-hero__share-tools__YlSAV{display:flex;justify-content:center}

[dir="ltr"] .NoHero_mck-c-no-hero__summarise-button__ibTVz{margin-left:var(--mdc-size-spacing-24)}

[dir="rtl"] .NoHero_mck-c-no-hero__summarise-button__ibTVz{margin-right:var(--mdc-size-spacing-24)}

@media print{
.NoHero_mck-c-no-hero__summarise-button__ibTVz{display:none !important}}
