.HeaderCareers_mck-c-career-header__box-container__k9ijO{background-color:var(--mdc-color-neutral-gray-06);display:grid;padding:calc(var(--mdc-size-spacing-24)/2) calc(var(--mdc-size-spacing-72)/2);font-size:var(--mdc-size-font-14);line-height:var(--mdc-size-line-height-20)}

@media(max-width: 767px){
.HeaderCareers_mck-c-career-header__box-container__k9ijO{padding:.75rem}}

.HeaderCareers_mck-c-career-header__my-dashboard__ROXyX{justify-self:end}

.HeaderCareers_mck-c-career-header__my-dashboard__ROXyX a:hover,.HeaderCareers_mck-c-career-header__my-dashboard__ROXyX a:focus{border-bottom:var(--mdc-size-border-width-2) solid var(--mdc-color-palette-electric-blue)}

[dir="ltr"] .HeaderCareers_mck-c-career-header__fraud-alert-box__ilOtz{text-align:left}

[dir="rtl"] .HeaderCareers_mck-c-career-header__fraud-alert-box__ilOtz{text-align:right}

.HeaderCareers_mck-c-career-header__icon-position__wNubi{position:relative;bottom:var(--mdc-size-spacing-4);color:var(--mdc-color-neutral-black)}

.HeaderCareers_mck-c-career-header__hidden-content__SQ0O6{display:none}

.HeaderCareers_mck-c-career-header__alert__McyTx{display:inline-block !important}

.HeaderCareers_mck-c-career-header__alert--expanded__rPqf_{pointer-events:none;color:var(--mdc-color-neutral-gray-80) !important}
